#video {
    transform: scaleX(-1);
    /* This flips the video horizontally */
    -webkit-transform: scaleX(-1);
    /* For Safari */
    transform-origin: center;
    /* Ensures the flip happens around the center */
    -webkit-transform-origin: center;
    /* For Safari */
}

.left {
    background-color: #f1f1f1;
    width: 40%;
    height: 100%;
    position: fixed;
    padding-top: 200px;
}

.right {

    background-color: #6FB9B9;
    width: 60%;
    height: 100%;
    position: fixed;
    right: 0;
}

.centered {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6FB9B9
}

.image {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    width: 75%;
    left: 50%;
}

.error {
    color: white;
    box-shadow: 5px 7px 15px black;
    border: 2px solid red;
    border-radius: 10px;
    padding: 20px;
    background-color: red;
    width: 300px;
    text-align: center;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.next-container {
    margin-top: 5%;
}

.reg {
    text-align: center;
    margin-bottom: 20px;
}

input[type=text],
input[type=date],
input[type=password],
input[type=email],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    font-size: 16px;
    border-radius: 8px;
}

input:focus,
select:focus {
    outline: 1px solid black;
}

input:hover,
select:hover {
    outline: 1px solid black;
}

label {
    margin-top: 200px;
}

.personal-info {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.personal-info-col {
    padding: 0 10px 0 0;
}

label {
    font-size: 16px;
}


.account-info {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.account-info-col {
    padding: 0 10px 0 0;
}


.butons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.info {
    text-align: center;
}

.note {
    color: #545454;
    text-align: center;
    margin-bottom: 10px;
    user-select: none;
    
}

.note1 {
    color: #545454;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 1000;
    font-size: larger;
    user-select: none;

}

.not-confirmed {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.button {
    background-color: #545454;
    color: white;
    padding: 15px 0px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 40%;
    display: block;
    margin: 20px auto;
}

.button:hover {
    background-color: #767676;
}

.account-info .wrong {
    border: 3px solid red;
}


.green {
    background-color: green;
}

.login {
    background-color: #545454;
    color: white;
    padding: 15px 0px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 40%;
    display: block;
    margin: 20px auto;
    text-align: center;
}

.login:hover {
    background-color: #767676;
}


.double {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.double-double {
    width: 49%;
}

.double-half {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.personal-half {
    width: 49%;
}

:disabled {
    cursor: not-allowed;
    background-color: #c4c4c4;
}


@media (max-width: 660px) {
    .left {
        display: none;
    }

    .right {
        width: 100%;
    }
}