h1 {
    text-align: center;
}

h2 {
    margin-top: 2%;
    padding: 1%;
}

.scrollable {
    max-height: 45%;
    overflow-y: scroll;
}

.btn-view {
    width: 60px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    background-color: rgb(54, 199, 247);
    padding: 10px 0;
    font-weight: bold;
}


.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    padding: 0;
}

.table td,
.table th {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    outline: 1px solid black;
}

.search-input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
}

.no-results {
    font-style: italic;
    color: red;
}

.half {
    border: 1px solid black;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #6FB9B9;
}

.half-half {
    width: 49%;
}

.sort-btn,
th {
    cursor: pointer;
}

.sort-btn::after {
    content: '\f0dc';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 5px;
}

.sort-desc::after {
    content: '\f0de';
}