.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.modal-line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.modal-label {
    width: 200px;
    font-weight: bold;
}

.modal-value {
    margin-left: 20px;
    flex-grow: 1;
}

.go-back {
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}


.proof {
    width: 300px;
    height: 300px;
    object-fit: fill;
    display: block;
    margin: auto;
}